.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 2vh;
}

.header div {
  min-width: 28px;
}

.header i {
  font-size: 1.8rem;
  cursor: pointer;
}

.header i svg {
  display: block;
}

@media (min-width: 615px) {
  .header h3 {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .header h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .header h3 {
    font-size: 2.4rem;
  }

  .header h2 {
    font-size: 3.5rem;
  }
}
