.container {
  padding-bottom: 5rem;
}

.no-style-link {
  color: var(--main-gray);
  font-weight: normal;
}

.table {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-gray);
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.table-head tr {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  border-right: 1px solid var(--secondary-gray);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.table-head tr th {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: normal;
}

.table-body tr td:first-child {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.table-body tr {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.table-body tr td {
  height: 2rem;
  display: flex;
  align-items: center;
}
