.container {
  margin: 0 auto;
  width: 80%;
  padding: 10vh 0 0;
  color: var(--main-gray);
}

.error-text {
  color: var(--error-red);
}

.success-text {
  color: var(--pastel-green);
}

.hidden {
  visibility: hidden;
}

.link {
  text-decoration: none;
  color: var(--active-blue);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  font-weight: bold;
}

.money {
  font-size: 13.5vw;
}

.money-7 {
  font-size: 8.5vw;
}

.money-10 {
  font-size: 6.5vw;
}

.money span > *:first-child,
.money span > *:last-child {
  font-size: 1.8rem;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.form-control input {
  margin: 10px 0;
  height: 2.8rem;
  width: 80%;
  border: none;
  padding-left: 15px;
  color: var(--main-gray);
  background-color: #f0f0f0;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.form-control input:focus {
  outline: none;
  font-size: 1.2rem;
  color: var(--active-blue);
}

.form-control input:focus::placeholder {
  color: var(--active-blue);
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
  width: 65%;
  height: 2.7rem;
  font-size: large;
  font-weight: normal;
  border-radius: 30px;
  color: #fff;
  /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); */
  border: none;
  align-self: center;
  background-color: var(--pastel-green);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: var(--pastel-green-dark);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

.table {
  padding-bottom: 5rem;
}

.table a {
  color: var(--main-gray);
  font-weight: normal;
}

.table table {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-gray);
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.table thead tr {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  border-right: 1px solid var(--secondary-gray);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.table thead tr th {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: normal;
}

.table tbody tr td:first-child {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.table tbody {
  width: 100%;
}

.table tbody .table-title {
  display: flex;
  justify-content: space-between;
}

.table tbody tr {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.table tbody tr td {
  height: 2rem;
  display: flex;
  align-items: center;
}

.hide-zero {
  font-size: 0.8rem;
}

.table input {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.table > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 1rem;
}

.table > div button {
  border: none;
  border-radius: 10px;
  width: 90%;
  min-height: 1.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: normal;
  font-size: small;
  text-transform: capitalize;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  background-color: var(--pastel-green);
}

.table > div button:hover {
  background-color: var(--pastel-green-dark);
}

.table > div button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.table > div button.selected {
  background-color: var(--pastel-green-dark);
  transform: translateY(2px);
  box-shadow: none;
}

.chart-color-0 {
  background-color: var(--chart-purple);
}

.chart-color-1 {
  background-color: var(--chart-dark-yellow);
}

.chart-color-2 {
  background-color: var(--chart-red);
}

.chart-color-3 {
  background-color: var(--chart-light-green);
}

.chart-color-4 {
  background-color: var(--chart-dark-blue);
}

.chart-color-5 {
  background-color: var(--chart-salmon);
}

.chart-color-6 {
  background-color: var(--chart-blue);
}

.chart-color-7 {
  background-color: var(--chart-yellow);
}

.chart-color-8 {
  background-color: var(--chart-brown);
}

.chart-color-9 {
  background-color: var(--chart-orange);
}

.chart-color-10 {
  background-color: var(--chart-green);
}

.delete-prompt {
  width: 80%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  color: var(--main-gray);
  font-size: 1.2rem;
  background-color: #ebeae6;
  border-radius: 30px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.5);
}

.delete-prompt h1 {
  color: var(--error-red);
  margin-bottom: 1rem;
}

.delete-prompt > div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.delete-prompt > div button {
  width: 40%;
}

div.delete-prompt-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1280px) {
  .container {
    width: 1024px; /* 80% de 690 */
    margin: 0 auto;
  }
}
