.top-tickets {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}

.chart-legend {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  bottom: 3px;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0;
}

.value-change {
  display: flex;
  justify-content: space-between;
}

.red {
  color: #ea526f;
}

.green {
  color: #57cc99;
}
