:root {
  --top-tickets-width: 0.5rem;
}

.top-tickets {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}

.chart-legend {
  width: var(--top-tickets-width);
  height: var(--top-tickets-width);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0;
}

.value-change {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.red {
  color: #ea526f;
}

.green {
  color: #57cc99;
}

@media (min-width: 615px) {
  :root {
    --top-tickets-width: 0.8rem;
  }
  .top-tickets {
    font-size: 1.3rem;
  }
}
