.nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav ul li {
  margin: 0 3px;
}

.nav ul li button {
  border: none;
  border-radius: 10px;
  min-width: 3rem;
  cursor: pointer;
  color: #fff;
  font-weight: normal;
  font-size: small;
  text-transform: capitalize;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  background-color: var(--pastel-green);
}

.nav ul li button:hover {
  background-color: var(--pastel-green-dark);
}

.nav ul li button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.nav ul li button.selected {
  background-color: var(--pastel-green-dark);
  transform: translateY(2px);
  box-shadow: none;
}

.money {
  margin-top: 2rem;
}

.empty-transaction-text {
  height: 35vh;
  display: flex;
  align-items: center;
}

.section__assets {
  margin: 0 auto;
}

.money {
  height: 5rem;
}

section.info {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section.info div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0px;
  font-size: 1.1rem;
}

.red {
  color: #ea526f;
}

.green {
  color: #57cc99;
}

section h3.table-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
