.nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.nav ul li {
  margin: 0 3px;
}

.nav ul li button {
  border: none;
  border-radius: 10px;
  min-width: 3rem;
  cursor: pointer;
  color: #fff;
  font-weight: normal;
  font-size: small;
  text-transform: capitalize;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  background-color: var(--pastel-green);
}

.nav ul li button:hover {
  background-color: var(--pastel-green-dark);
}

.nav ul li button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.nav ul li button.selected {
  background-color: var(--pastel-green-dark);
  transform: translateY(2px);
  box-shadow: none;
}

.overview {
  margin: 2rem 0 2rem;
  display: flex;
  font-size: 2.4rem;
  justify-content: space-between;
}

.overview i {
  font-size: 1.4rem;
}

.overview span:last-child {
  display: flex;
  align-items: center;
}

.info {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info div {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.info .variation {
  justify-content: center;
}

.info .variation span {
  margin-right: 1rem;
}

.info .variation span:first-child {
  margin-right: 0.3rem;
}

.red {
  color: #ea526f;
}

.green {
  color: #57cc99;
}
