@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --pastel-green: #78bfaf;
  --pastel-green-dark: #70b3a4;
  /* --active-blue: #0879a6; */
  --active-blue: #1f53c2;
  --main-gray: #484848;
  --secondary-gray: #8f8f8f;
  --error-red: #d4194b;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: none;
}

h2 {
  font-size: 2rem;
}

body {
  height: 100vh;
  /* background-color: #ebeae6; */
  /* background-color: #e8e5d5; */
  /* background-color: #faf4d4; */
  background: linear-gradient(0deg, #faf4d4, #ebeae6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
