@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --background-lighter: #ebeae6;
  --background-darker: #faf4d4;

  --pastel-green: #78bfaf;
  --pastel-green-dark: #70b3a4;
  --active-blue: #1f53c2;
  --main-gray: #484848;
  --secondary-gray: #8f8f8f;
  --error-red: #d4194b;

  --chart-purple: #6f69ac;
  --chart-dark-yellow: #ecd662;
  --chart-red: #ea5455;
  --chart-light-green: #95dac1;
  --chart-dark-blue: #2d4059;
  --chart-salmon: #fd6f96;
  --chart-blue: #0f52ba;
  --chart-yellow: #ffd460;
  --chart-brown: #865439;
  --chart-orange: #f07b3f;
  --chart-green: #57cc99;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  user-select: none;
}

h2 {
  font-size: 2rem;
}

body {
  height: 100vh;
  /* background-color: #ebeae6; */
  /* background-color: #e8e5d5; */
  /* background-color: #faf4d4; */
  background: linear-gradient(
    0deg,
    var(--background-darker),
    var(--background-lighter)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--active-blue);
}
