.money {
  text-align: start;
}

.loss {
  color: var(--error-red);
}

.inline-money {
  display: inline;
  font-size: 1.2rem;
}

.glance {
  margin: 1rem 0;
  text-transform: capitalize;
}

.glance h3 {
  margin-bottom: 1em;
}

.overview {
  margin-bottom: 4rem;
  font-weight: bold;
}

.overview ul {
  margin: 5rem 0 4rem;
  list-style-type: none;
}

.overview ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}

.overview ul li.sub-list {
  margin: -0.5rem 0 0.7rem 1rem;
  font-weight: lighter;
  font-size: 0.8rem;
}

li.sub-list .inline-money {
  font-size: 1rem;
}

.overview p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.overview > div {
  font-size: 1.5rem;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
}
