.loss {
  color: var(--error-red);
}

.red {
  color: #ea526f;
}

.green {
  color: #57cc99;
}

.month-input {
  border: none;
  color: transparent;
  background-color: transparent;
  font-size: inherit;
  width: 2.8rem;
}

.month-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: transparent;
  background: transparent;
  font-size: 1.5rem;
}

.calendar-icon {
  pointer-events: none;
  cursor: pointer;
  color: var(--active-blue);
  position: relative;
  font-size: 1.5rem;
  left: -25px;
  top: 5px;
  user-select: none;
}

input.month-input:focus {
  outline: none;
}

.inline-money {
  display: inline;
  font-size: 1.2rem;
}

.glance {
  margin: 1rem 0;
  text-transform: capitalize;
}

.glance h3 {
  --max-width-multiplier: 615px;
  max-width: calc(var(--max-width-multiplier) * 0.9);
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  margin-bottom: 1em;
}

.overview {
  --max-width-multiplier: 615px;
  max-width: calc(var(--max-width-multiplier) * 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  font-weight: bold;
}

.overview ul {
  margin: 5rem 0 4rem;
  list-style-type: none;
}

.overview ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}

.overview ul li.sub-list {
  margin: -0.5rem 0 0.7rem 1rem;
  font-weight: lighter;
  font-size: 0.8rem;
}

li.sub-list .inline-money {
  font-size: 1rem;
}

.overview p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.overview > div {
  font-size: 1.5rem;
}

.action {
  --max-width-multiplier: 615px;
  max-width: calc(var(--max-width-multiplier) * 0.9);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 8rem;
}

@media (min-width: 615px) {
  .glance h3 {
    font-size: 1.5rem;
  }
  .glance .calendar-icon {
    font-size: 2rem;
  }
  .inline-money {
    font-size: 1.7rem;
  }
  .overview {
    font-size: 1.5rem;
  }
  .overview ul li.sub-list {
    font-size: 1rem;
  }

  li.sub-list .inline-money {
    font-size: 1.2rem;
  }

  .overview p {
    font-size: 1.7rem;
  }

  .overview > div {
    font-size: 1.7rem;
  }
}

@media (min-width: 1280px) {
  .glance h3 {
    font-size: 2rem;
  }

  .glance .calendar-icon {
    font-size: 2.5rem;
    left: -36px;
    top: 10px;
  }
  .month-input {
    width: 3.5rem;
  }
  .overview {
    --max-width-multiplier: 800px;
  }
  .inline-money {
    font-size: 2rem;
  }
  .overview {
    font-size: 1.8rem;
  }
  .overview ul li.sub-list {
    font-size: 1.4rem;
  }

  li.sub-list .inline-money {
    font-size: 1.6rem;
  }
  .overview p {
    font-size: 2rem;
  }

  .overview > div {
    font-size: 2rem;
  }
}
