.section__pie-chart {
  --pie-dimension: 65vw;
  display: grid;
  grid-template-rows: 3fr 0.8fr;
  row-gap: 1rem;
  justify-items: center;
  align-content: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.overview > div {
  width: 100%;
  font-size: 1.3rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.overview > div p {
  margin-right: 0.5rem;
}

.overview {
  margin-bottom: 2rem;
}

.pie-chart__pie-chart {
  width: var(--pie-dimension);
  height: var(--pie-dimension);
}

.pie-chart__empty-phrase {
  width: var(--pie-dimension);
  height: var(--pie-dimension);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  text-align: justify;
}

.pie-chart__selected-legend {
  width: var(--pie-dimension);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart__selected-legend p {
  margin-right: 1rem;
}

.pie-chart__selected-info {
  display: flex;
  flex-direction: column;
  width: var(--pie-dimension);
  justify-content: space-around;
  align-items: center;
}

.pie-chart__selected-info div {
  display: flex;
  justify-content: center;
}

.pie-chart__selected-info div div {
  margin-right: 1rem;
}

.top-tickets__container {
  width: 80%;
  margin: 0.5vh auto;
}

.red {
  color: #ea526f;
}

.green {
  color: #57cc99;
}

@media (min-width: 615px) {
  .section__pie-chart {
    --pie-dimension: calc(615px * 0.65);
  }

  .overview > div {
    font-size: 1.8rem;
  }

  .overview > div p {
    margin-right: 1.5rem;
  }

  .section__assets {
    width: calc(615px * 0.8);
  }
}

@media (min-width: 1280px) {
  .section__pie-chart {
    margin: 3rem auto 0;
    grid-template-areas:
      "graph tickets"
      "selected tickets";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5fr 1fr;
  }
  .pie-chart__selected-info {
    justify-content: center;
    grid-area: selected;
  }

  .pie-chart__pie-chart {
    grid-area: graph;
  }
  .pie-chart__selected-info > div {
    margin-top: 1rem;
  }

  .overview > div {
    font-size: 2.3rem;
  }

  .overview > div p {
    margin-right: 3rem;
  }

  .asset-table {
    grid-area: tickets;
    display: flex;
    flex-wrap: wrap;
  }

  .asset-table table {
    width: 500px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .section__assets {
    width: 100%;
  }
}
